@model LaboratorioListaPedidosWeb.Models.Totales

@{
    ViewBag.Title = "TotalPedidos";
    Layout = null;
}

<h3>Total Pedidos:@Model.Numero</h3>
<h3>Total Facturado:@Model.Total</h3>
<h3>Por cliente:@Model.MediaCliente</h3>

